@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: black;
  color: white;
  font-family: 'Fira Sans', sans-serif;
}


.hero {
  display: flex;
  position: relative;
  text-align: center;
}

.hero-overlay {
  text-align: center;
  position: absolute;
  text-transform: uppercase;
  z-index: 0;
  width: 100%;
}

.hero-image {
  display: block;
  overflow: visible;
  z-index: -1;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-bottom: 2px solid white;
}

.hero-text {
  font-size: 3vw;
  transform: translateY(6vw);
  color: white;
  letter-spacing: .30rem;
  font-weight: 700;
  padding: 10px;
}

.icon {
  position: relative;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 10px 30px;
}

.icon:hover {
  color: rgb(221, 111, 7);
  transition: .5s ease-in
}

.pages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  font-weight: bold;
}

.item {
  cursor: pointer;
  color: white;
  text-decoration: none;
  margin-top: 25px;
  margin-right: 10px;
}

.item:hover {
  color: rgb(221, 111, 7);
  transition: .5s ease-in;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 0 auto;
}

.btn {
  width: 150px;
}

/* Global Button Styles */
a.animated-button:link, a.animated-button:visited {
  position: relative;
  display: flex;
  margin: 30px auto 0;
  padding: 14px 15px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: .08em;
  border-radius: 0;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
  content: "";
  position: absolute;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 150%;
  z-index: -1;
  -webkit-transition: all 0.75s ease 0s;
  -moz-transition: all 0.75s ease 0s;
  -o-transition: all 0.75s ease 0s;
  transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
  color: #FFF;
  text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
  height: 450%;
}
a.animated-button:link, a.animated-button:visited {
  position: relative;
  display: block;
  margin: 30px auto 0;
  padding: 14px 15px;
  color: #fff;
  font-size:14px;
  border-radius: 0;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: .08em;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}


a.animated-button.sandy-one {
  border: 2px solid rgb(221, 111, 7);
  color: #FFF;
}
a.animated-button.sandy-one:after {
  border: 3px solid rgb(255, 255, 255);
  opacity: 0;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  
}
a.animated-button.sandy-one:hover:after {
  height: 120% !important;
  opacity: 1;
  color: #fff;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 30px;
  letter-spacing: .10rem;
  font-size: 1.5rem;
}

.section {
  border-bottom: 2px white solid;
}


h1 {
  color: rgb(221, 111, 7);
}

/* Bounce Hover Effects */
.about-icon {
  padding: 20px;
  color: rgb(221, 111, 7);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  margin-bottom: 30px;
  z-index: 7;
}

.about-icon:hover {
  transform: scale(1.5);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.box {
  border: 3px white solid;
  padding: 1.5rem 2.5rem;
  margin-bottom: 3rem;
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}

.box:hover {
  padding: 2rem;
  background-color: rgb(221, 111, 7);
  color: black;
  font-weight: 900;
}

span.text {
  color: rgb(221, 111, 7);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  height: 60px;
}

::-webkit-scrollbar {
  display: none;
}

.audio-container {
  position: fixed;
  background: transparent;
  z-index: 10;
  opacity: .5;
  margin: 10px;
}

audio:focus {
  outline: 0;
}